.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img {
  width: 100%;
  height: 150px;        /* card-friendly height */
  object-fit: cover;   /* crops nicely */
  border-radius: 8px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 10px 0;
}
.card .card-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: hsl(0, 0%, 30%);
}


.Student {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 10px; /* fixed */
  border: 1px solid hsl(0, 0%, 50%, 0.8);
  margin: 10px;
  text-align: center;
}

